@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    var slideShowIndex = 0;
    var images = new Array( '../../Content/Untitled.png',
                            '../../Content/japan-people-wallpaper-3.jpg',
                            '../../Content/picture-people-HD6.jpg');
    $(document).ready(function () {
        slideShowIndex = 0;
        displayImages();
    });

    function displayImages() {
        slideShowIndex++;
        if (slideShowIndex >= images.length) {
            slideShowIndex = 0
        }
        $("#slide").attr("src",images[slideShowIndex]);
        
        setTimeout(displayImages, 2000);
    }

</script>

<div class="top-space" style="margin-bottom:200px;">
    <img id="slide" src="" style="position:absolute" />    
</div>
<div>
    <div style="position:relative; background-color:lightgoldenrodyellow;">
        <h1 id="vb">Vaghela Bank</h1>
        <p id="para">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://localhost:64346/Home/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row" style="position:relative">
    <div class="col-md-4" style="background-color:orangered; height:200px;">
        <h2>Getting Credit Cards</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Credit_card" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:grey; height:200px;">
        <h2>Insurance Benifits</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Insurance" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:forestgreen; height:200px;">
        <h2>Getting Gift Cards</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Gift_card" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>